<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />

</head>
<body>
	<section>
		<div class="wrapper fadeInDown">
			<div id="formContent">
				<!-- Tabs Titles -->

				<!-- Icon -->
				<div class="fadeIn first">
					<h3 style="margin-top: 20px">Smart Contact Manager</h3>



					<!-- forget password  Form -->
					<form method="post" th:action="@{/otp}">
						<input type="text" id="username" class="fadeIn second"
							name="emailData" th:value="${email}"placeholder="Email Address"> <input
							type="submit" class="fadeIn fourth " value="Send OTP">
					</form>

				</div>
			</div>
		</div>

	</section>
</body>
</html>